body {
  font-family: sans-serif;

  .socket {
    max-width: 18em;
    margin: 1em;
    padding: .5em;
    border: 1px solid blue;
    background-color: #CCF;

    input[name=description] {
      width: 100%;
    }

    .timerMode, .switchedOn {
      margin: .4em 0;

      label {
        display: inline-block;
	      width: 7em;
      }

    }

    .advanced-trigger {
      font-size: 80%;
      text-align: right;
    }

  }
  input[type=text].short {
    width: 4em;
  }
  svg {
    margin-top: 1em;
  }

  #cctv {
    svg {
      background-color: #ddd;
    }

    .work-hours {
      stroke: none;
      fill: #FEF8AE;
    }

    circle.visible {
      stroke: none;
      fill: #3AAF7B;
      pointer-events: none;
    }

    circle.event-target {
      opacity: 0;
    }

    /* axes */
    .domain {
      fill: none;
      stroke-width: 1px;
      stroke: black;
    }

    .tick line {
      stroke: black;
      stroke-width: 1px;
    }

    /* intervals */
    rect.interval {
      fill: #FAF6CD;
      stroke: #eee;
      stroke-width: 1px;
    }

    rect.interval2 {
      fill: #DDDDFF;
      stroke: #eee;
      stroke-width: 1px;
      opacity: .5;
    }

    #dot {
      overflow: visible;
    }

    #tooltip {
      display: none;
      position: absolute;
      font-size: 15px;
      width: 210px;
      padding: 2px 5px 2px 5px;
      background-color: #ECB438;
    }

    #vidlink img {
      width: 200px;
    }

    #tooltip div.close {
      position: relative;
      top: 0;
      right: 0;
      font-weight: bold;
      cursor: pointer;
    }

    #plot {
    fill: white;
    }

    .slider {
    margin: 1em 0 1em 0;
    }
  }
}

