body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

svg {
  background-color: #ddd;
}

circle {
  stroke: none;
  fill: black;
}

/* axes */
.domain {
  fill: none;
  stroke-width: 1px;
  stroke: black;
}

.tick line {
  stroke: black;
  stroke-width: 1px;
}

#tooltip {
  display: none;
  position: absolute;
  font-size: 10px;
  padding: 2px 5px 2px 5px;
  background-color: #ECB438;
}

#tooltip img {
  width: 120px;
}

#plot {
  fill: white;
}
