<h1>CCTV</h1>

<div id="tooltip">
  <div class="title"></div>
  <div class="close">╳</div>
  <a id="vidlink">
    <img/>

  <div id="content">
    <svg width=3200 height=1200>
      <defs>
        <symbol id="dot">
          <circle class="event-target" cx=0 cy=0 r=5/>
          <circle class="visible" cx=0 cy=0 r=3/>
  <script src="/assets/js/cctv.js"/>
