<div id="cctv">
  <h1>CCTV</h1>

  <div id="tooltip">
    <div class="close">✖</div>
    <div class="title"></div>
    <a id="vidlink">
      <img/>
    </a>
  </div>

  <div id="content">
    <svg width=800 height=600>
    </svg>
  </div>
</div>
