<div id="cctv">
  <h1>CCTV</h1>

  <div id="tooltip">
    <div class="close">✖</div>
    <div class="title"></div>
    <a id="vidlink">
      <img/>
    </a>
  </div>

  <div id="content">
    <svg width=800 height=600>
      <defs>
        <symbol id="dot">
          <circle class="event-target" cx=0 cy=0 r=5 />
          <circle class="visible" cx=0 cy=0 r=3 />
        </symbol>
      </defs>
    </svg>
  </div>
</div>
