
<h1>Sockets</h1>

<% sockets.forEach(function(socket) { %>
  <%- partial('partials/socket.ejs', {socket: socket}) %>
<% }); %>

<hr/>

<h3>Add a socket</h3>

<%- partial('partials/socket.ejs', { socket : {}}) %>
