
<h1>Sockets</h1>

<% sockets.forEach(function(socket) { %>
  <%- partial('partials/socket.ejs', {socket: socket}) %>
<% }); %>

<h1>Add a socket</h1>

<%- partial('partials/socket.ejs', { socket : {}}) %>
