
<h1>Sockets</h1>

<% var sortedSockets = sockets.sort(function(a,b) { return a.id < b.id; }); sortedSockets.forEach(function(socket) { %>
  <%- partial('partials/socket.ejs', {socket: socket}) %>
<% }); %>

<hr/>

<h3>Add a socket</h3>

<%- partial('partials/socket.ejs', { socket : {}}) %>
