
<h1>Sockets</h1>

<% sockets.forEach(function(socket) { %>
  <h2><%= socket.id %></h2>
  <%- partial('partials/socket.ejs', {socket: socket}) %>
<% }); %>

<h1>Add a socket</h1>

<%- partial('partials/socket.ejs', { socket : {}}) %>
