extends layout


block content
  h1 #{title}

  input(type='radio' name='on-off' value='on' id='switch-on')
  | On
  input(type='radio' name='on-off' value='off' id='switch-off')
  | Off

block end_scripts
  script(src='/javascripts/dashboard.js')
