extends layout

block content
  h1 #{title}

  div#example

  script(type='text/jsx').
    React.render(
      <h1>React!</h1>,
      document.getElementById('example')
    );

  script(src='/javascripts/jquery.js')
  script(src='/javascripts/dashboard.js')

