extends layout


block content
  h1 #{title}

  div
    p
    | All
    input(type='button' name='on-off-0' value='on' id='switch-0-on')
    input(type='button' name='on-off-0' value='off' id='switch-0-off')


  div
    h2 Switch 1
    input(type='button' name='on-off-1' value='on' id='switch-1-on')
    input(type='button' name='on-off-1' value='off' id='switch-1-off')
    div(id='prog-slider-1' class='slider')

  div
    h2 Switch 2
    input(type='button' name='on-off-2' value='on' id='switch-2-on')
    input(type='button' name='on-off-2' value='off' id='switch-2-off')
    div(id='prog-slider-2' class='slider')



block end_scripts
  script(src='/javascripts/dashboard.js')
