extends layout

block content
  h1 #{title}

  div#tooltip
    img

  div#content
    svg(width='1200', height='1200')
      defs
        symbol#dot
          circle(cx='5', cy='5', r='5')

  script(src='/javascripts/build/dashboard.js')
