doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/react.js')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/d3.js')    
  body
    block content

