doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    link(rel='stylesheet' href='/jquery-ui/jquery-ui.min.css')
    script(src='jquery-ui/jquery-ui.min.js')
  body
    block content
    block end_scripts
