doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/react.js')
    script(src='/javascripts/JSXtransformer.js')
  body
    block content

